body {
	overflow-x:hidden;
}

nav {
 height:5vh;
}

#result-container a {
	text-decoration:none;
}

.infoDiv {
	margin-top:5vh;
	margin-left:9vw;
	margin-right:9vw;
	padding-top:0;
	padding-bottom:0;
}

#result-container {
	background-color:darkgreen;
	position:absolute;
	top:5vh;
	min-height:95vh;
	width:100vw;
	background-image:url('assets/wikipedia.png');
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#random-page {
	position:absolute;
	right:3vw;
	min-height:2.5vh;
	top:1.25vh;
}

#search-term {
	position:absolute;
	top:1.3vh;
	width:35vw;
	margin-left:20vw;
}
