body {
	overflow-x:hidden;
}

nav {
 height:5vh;
}

@media (max-width:550px) {
	.navbar-brand {
		visibility:hidden;
	}
}
	

.infoDiv {
	margin-top:5vh;
	margin-left:9vw;
	margin-right:9vw;
	padding-top:0;
	padding-bottom:0;
}

.infoDiv:hover {
	border-right:solid orange 1vw;
}

.infoDiv h2, .indoDiv p {
	margin:0;
	padding:0;
}

#result-container {
	background-color:#1155cc;
	position:absolute;
	top:5vh;
	min-height:95vh;
	width:100vw;
	margin-top:2vh;
	background-image:url('assets/wikipedia.png');
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#result-container a {
	text-decoration:none;
	color:black;
}

#result-container a:focus .infoDiv {
	border-right:solid orange 1vw;
}

#random-page {
	position:absolute;
	right:3vw;
	min-height:2.5vh;
	top:1.25vh;
}

#search-term {
	position:absolute;
	top:1.3vh;
	width:35vw;
	margin-left:20vw;
}
