body {
}

nav {
 height:5vh;
}

.infoDiv {
	background-color:darkblue;
	margin-top:3vh;
	font-size:2vw;
}

#result-container {
	background-color:darkgreen;
	position:absolute;
	top:5vh;
	height:95vh;
	width:100vw;
	background-image:url('assets/wikipedia.png');
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
}

#random-page {
	position:absolute;
	right:3vw;
	min-height:2.5vh;
	top:1.25vh;
}

#search-term {
	position:absolute;
	top:1.3vh;
	width:35vw;
	margin-left:20vw;
}
